body {
    background-color: pink;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: black;
}

form {
    text-align: center;
}

p {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

img {
    width: 100px;
    height: 100px;
}

#calculator_container {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    background-color: #2196F3;
    padding: 10px;
    width: 500px;
    justify-content: center;
    margin: auto;
}

#calculator_display {
    margin: auto;
    font-size: 40px;
    background-color: aliceblue;
    width: 24%;
    text-align: right;
}

.number_button {
    /* display: flex; */
    /* margin-right: 10px; */
    margin: 10px;
    background-color: orange;
    font-size: 35px;
    /* border-radius: 8px; */
}

.operator_button {
    /* display: flex; */
    /* display: grid; */
    /* margin-right: 10px; */
    margin: 10px;
    background-color: orange;
    font-size: 35px;
    /* border-radius: 8px; */
}

.function_button {
    /* display: flex; */
    /* display: grid; */
    /* margin-right: 10px; */
    margin: 10px;
    background-color: orange;
    font-size: 35px;
    /* border-radius: 8px; */
}

.memory_button {
    /* display: flex; */
    /* display: grid; */
    /* margin-right: 10px; */
    margin: 10px;
    background-color: orange;
    font-size: 35px;
    /* border-radius: 8px; */
}

.answer_button {
    /* display: flex; */
    /* display: grid; */
    /* margin-right: 10px; */
    margin: 10px;
    background-color: orange;
    font-size: 35px;
    /* border-radius: 8px; */
}

button:hover {
    background-color: yellow;
}

.number_button:hover {
    background-color: yellow;
}